{% extends "base.html" %}

{% block content %}
<h1>Welcome {{ name }}, here are top destinations!</h1>
<a href="/google">not google</a>
<br>
<div>
    <ul>
    {% for c in top_city %}
        <li>{{c.city_name}}</li>
    {% endfor %}
</ul>
</div>
<div>
    <form method="POST" novalidate>
    {{form.hidden_tag()}}

    <p>{{form.city_name.label}} 
        {{form.city_name(size=32)}}</p>
    
    <p>{{form.city_rank.label}} 
        {{form.city_rank(size=30)}}</p>

    <p>{{form.city_visited.label}} 
        {{form.city_visited()}}</p>

    <p>{{form.submit()}}</p>
    </form>
</div>

{% endblock %}
